<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="26299ShervinShaikh.TotalFratMoveReader" Version="1.0.0.2" Publisher="CN=37BFFBC1-D352-4F20-AC07-73B10C191E93" />
  <Properties>
    <DisplayName>TotalFratMove Reader</DisplayName>
    <PublisherDisplayName>ShervinShaikh</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="TotalFratMove Reader" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="TFM" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>